# Ignore everything
/*

# Don't ignore the gitignore file itself
!/.gitignore

# Don't ignore the pokemon-battle-system directory
!/pokemon-battle-system/

# Within the pokemon-battle-system directory, don't ignore all files
/pokemon-battle-system/*